.DS_Store*
Battle.net
Hiarcs
Roland Cloud
gh
github-copilot
grammarly-languageserver
iterm2
nvim/after/syntax
nvim/plugin
tmux/plugins/tmux-clima
tmux/plugins/tmux-continuum
tmux/plugins/tmux-nerd-font-window-name
tmux/plugins/tmux-prefix-highlight
tmux/plugins/tmux-resurrect
tmux/plugins/tmux-sensible
tmux/plugins/tmux-yank
tmux/plugins/tpm
tmux/plugins/vim-tmux-navigator
