---
- name: brew install
  become: yes
  community.general.homebrew:
    name:
      - git
      - tmux
      - alacritty
      - neovim
      - bat
      - fzf
      - tree
      - ripgrep
      #- docker
      #- docker-compose
      - curl
      - wget
      - jq
      - fd
      - go
    state: latest
  when: ansible_distribution == "Darwin"
